/* Style for the overlay background */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 50vw;
    width: 80%;
}

.alert-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.alert-close-btn {
    padding: 10px 20px;
    color: black;
    margin: -2px;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    font-size: 16px;
}

.alert-close-btn:hover {
    color: white
}

.snackbar {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
    opacity: 0;
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}

.snackbar.show {
    bottom: 50px;
    opacity: 1;
}

.snackbar.hide {
    bottom: -100px;
    opacity: 0;
}

.phone-alert {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333a1;
    color: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: top 0.5s ease-in-out;
    opacity: 0;
    font-size: 16px;
    line-height: 1;
    z-index: 1000;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.phone-alert.show {
    top: 32px;
    opacity: 1;
}

.phone-alert.hide {
    top: -100px;
    opacity: 0;
}