button {
    /* background-color: black; */
    border-color: black;
    transition: background-color 0.3s ease
}

button:hover {
    /* margin: -1px; */
    background-color: #222222;
    border: 2px solid #00FF33;
    color: white;
}

button:focus {
    outline: none;
}

.text-button {
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: black;
}

.text-button:hover {
    color: #6D05FF;
}