button {
    /* background-color: black; */
    border-color: black;
    transition: background-color 0.3s ease
}

button:hover {
    /* margin: -1px; */
    background-color: #222222;
    border: 2px solid #00FF33;
    color: white;
}

button:focus {
    outline: none;
}

.text-button {
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: black;
}

.text-button:hover {
    color: #6D05FF;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.icon:hover {
    cursor: pointer;
}

.icon {
    width: 40px;
    padding: 10px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    top: 3px;
    right: 12px;
    background-color: red;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}