.text {
    z-index: 3;
    font-size: 1.9vw;
    font-weight: 900;
    position: absolute;
    left: 30vw;
    bottom: 3vw;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: normal;
    line-height: 1.2;
}

.choice-button {
    cursor: pointer !important;
    pointer-events: auto !important;
    font-size: 1.9vw;
    font-weight: 900;
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: blue;
}

.choice-button:hover {
    color: #6D05FF;
}

#delayedMessage {
    background-color: rgba(220, 225, 225, 0.6);
    border-radius: 8px;
    padding: 16px;
    outline: 1px solid rgb(147, 145, 145);
    outline-offset: -4px;
}