.dialog-box-long {
    left: -100%;
    bottom: 2%;
    position: absolute;
    height: 16vw;
    width: 98vw;
    opacity: 0;
    animation: slideInFadeIn 800ms ease-out forwards;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    /* pointer-events: none; */
}

.dialog-avatar {
    left: -3vw;
    bottom: -100%;
    position: absolute;
    max-width: auto;
    height: 35vw;
    opacity: 0;
    animation: slideUpFadeIn 800ms ease-out forwards;
    z-index: 2;
}

.dialog-text {
    z-index: 3;
    font-size: 1.9vw;
    font-weight: 500;
    color: transparent;
    text-shadow: 0.15vw 0.15vh #9F3A27;
    position: absolute;
    left: -100%;
    bottom: 1vw;
    /* width: 64vw; */
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    line-height: 1.2;
    pointer-events: none;
    opacity: 0;
    animation: slideInFadeInText 800ms ease-out forwards, wobble 2.0s infinite;
    background-color: rgba(220, 225, 225, 0.35);
    border-radius: 8px;
    padding: 16px;
    outline: 1px solid #9F3A27;
    outline-offset: -4px;
}

.dialog-text-bounce {
    z-index: 3;
    font-weight: 600;
    font-size: 1.9vw;
    color: black;
    position: absolute;
    left: -100%;
    bottom: 1vw;
    width: 64vw;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    line-height: 1.2;
    pointer-events: none;
    opacity: 0;
    animation: slideInFadeInText 800ms ease-out forwards, dialog-shift 3.5s infinite, wobble 2.0s infinite;
    padding: 16px;
}


@keyframes dialog-shift {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translate(0.15vw, 0.15vh);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes wobble {
    0% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 0.005vw;
    }

    100% {
        letter-spacing: normal;
    }
}


.dialog-text span {
    line-height: 1;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.dialog-text-bounce span {
    line-height: 1;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 3s forwards;
}


@keyframes slideInFadeIn {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        left: -100%;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideInFadeInText {
    0% {
        left: -100%;
        opacity: 0;
    }

    50% {
        left: -100%;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        left: 26vw;
        opacity: 1;
    }
}

@keyframes slideUpFadeIn {
    0% {
        bottom: -100%;
        opacity: 0;
    }

    50% {
        bottom: -100%;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.movable {
    transition: transform 0.3s ease-out;
}

.movable.clicked {
    height: 100%;
    animation: bounceUp 0.5s ease-out forwards;
}

@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(-45%);
    }
}

.movable-text {
    transition: transform 0.3s ease-out;
}

.movable-text.clicked {
    opacity: 1;
    left: 26vw;
    animation: bounceUpText 0.5s ease-out forwards;
}



@keyframes bounceUpText {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-28vw);
    }

    100% {
        transform: translateY(-26vw);
    }
}