#container {
    position: relative;
    width: 25vw;
    height: 5vw;
    border: 2px solid #333;
    margin: 40px;
    overflow: hidden;
    background-color: #f0f0f0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#target {
    width: 8vw;
    height: 100%;
    background-color: rgba(0, 200, 0, 0.3);
    pointer-events: none;
}

#container.vertical {
    width: 5vw;
    height: 25vw;
}

#fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00FF33;
    height: 0;
}