body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: black;
}

#story {
    aspect-ratio: 16/9;
    height: 100%;
    width: 100vw;
    margin: 0;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    background-repeat: no-repeat;
    animation: pulse 4.0s infinite;
}


p {
    font-family: "Courier New";
}

span {
    font-family: "Courier New";
}

a {
    font-family: "Courier New";
}



.flash {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    background-color: red;
}

@keyframes flashEffect {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.transient-message-text {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    color: white;
    position: absolute;
}

.bounce {
    animation: shift 3s ease-in-out infinite;
}

.fade-text {}

.fade-text span {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

.fade-out {
    animation: fadeOutEffect 5s forwards;
}

.fade span {
    opacity: 0;
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shift {
    0% {
        opacity: 0.5;
        transform: translateX(0);
    }

    50% {
        opacity: 1;
        transform: translate(2.5px, 2.5px);
    }

    100% {
        opacity: 0.5;
        transform: translateX(0);
    }
}

@keyframes fadeOutEffect {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#overlay {
    background-color: black;
    opacity: 0;
    margin: 0;
}

#overlay.show {
    animation: fadeIn 0.2s ease-in-out forwards;
    pointer-events: auto;
}

#overlay.hide {
    animation: fadeOut 0.2s ease-in-out forwards;
    pointer-events: none;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    background: #333;
    color: white;
    transition: left 0.3s ease-in-out;
    padding: 15px;
    z-index: 1000;
}

/* Open class to show sidebar */
.sidebar.open {
    left: 0;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
}

.sidebar-item {
    cursor: pointer;
}

.sidebar-item:hover {
    color: #B56D3C;
}

.sidebar-item.selected {
    color: #B56D3C;
}